.Item-card-value-heading {
  display: flex;
  justify-content: space-between;
}

.Item-card-value-heading h5 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.Item-card-value-heading div {
  width: 12.5%;
}

.form-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(238, 230, 230, 0.887);
}

.Form-container {
  position: fixed;
  max-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
